// Color Scheme (LeWagon Set options)
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


// Personal Color Scheme for Monam@p
$my-dark-blue: #6AA1AD;
$my-median-blue: #89C4CB;
$my-light-blue: rgba(193, 222, 226, 0.4);
$my-dark-yellow: #F8CB62;
$my-light-yellow: rgba(248, 203, 98, 0.19);
