body {
  background-image: asset-url("body-bg.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

// #bg-bottom {
//   background-image: asset-url("bg-shape-yellow.svg");
//   background-size: cover;
//   height: 100px;
//   background-position: bottom left;
//   background-repeat: no-repeat;
// }
