@import "home";

h1 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 16px;
}

.subscription-category-card {
  position: relative;
  // z-index: -200;
  height: auto;
  margin-bottom: 16px;

  background: #FFFFFF;
  border: 2px solid #6AA1AD;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
}

.wrap-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  white-space: nowrap;
  padding-bottom: 8px;
}

// .script-selector {
//   display: none;
// }



label {
  position: absolute;
  left: 0;
  // z-index: -100;
  border-radius: 4px;
  background-color: $my-dark-blue;
  color: $my-white;
  text-align: center;
}

label:hover {
  background-color: $my-median-blue;
}

input[type="radio"] {
  display: none;
  position: relative;
}

input[type=radio]:checked + label {
  background: $my-dark-yellow;
}

input[type=radio]:active + label {
  background: $my-light-yellow;
}

// .select_category {
//   background-color: $my-dark-yellow;
// }

.options-submit {
  font-family: $bold-font;
  padding: 12px;
  border-radius: 4px;
  background-color: $my-red;
  width: 300px;
  text-align: center;
  margin-bottom: 25px;
  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
}

.options-submit:hover {
  background-color: $my-orange;
}

.subscriptions_target {
  position: relative;
}

.total-card {
  height: auto;
  margin-bottom: 16px;
  background: #fef5e1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 8px;
  position: sticky;
  z-index: 10;
  top: 6px;
  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
  border: 1px solid $my-dark-yellow;
}

.total-inline {
  display: flex;
  justify-content: space-between;
}
