@import "home";

h1 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 16px;
}

.formule {
  display: flex;
  p {
    margin-left: 8px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 40px;
  margin-top: 50px;
}

.subscription-category-card {
  position: relative;
  // z-index: -200;
  height: auto;
  margin-bottom: 32px;

  background: #FFFFFF;
  border: 2px solid #6AA1AD;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
  p {
    margin-left: 32px;
  }
}

.category-inline {
  display: flex;
  align-items: center;
  img {
  margin-right: 8px;
  margin-left: 32px;
  }
}

.wrap-categories {
  display: flex;
  justify-content: center;
}

.subscription-category-card {
  label {
    // max-width: 180px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 6px 16px 6px 16px;
    background-color: $my-dark-blue;
    box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.25);
    color: $my-white;
    text-align: center;
    transition: 0.2s background-color, 0.2s transform, 0.2s opacity;
  }

  label:hover {
    background-color: $my-median-blue;
    opacity: 0.8;
    transform: translateY(-0.188rem);
  }
}

input[type="radio"] {
  display: none;
  position: relative;
}

input[type=radio]:checked + label {
  background: $my-dark-yellow;
}

input[type=radio]:active + label {
  background: $my-light-yellow;
}

.options-submit {
  font-family: $bold-font;
  padding: 10px;
  border-radius: 4px;
  background-color: $my-median-blue;
  width: 300px;
  text-align: center;
  margin: 70px auto;
  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
  transition: all 0.3s ease;
}

.options-submit:hover {
  background-color: $my-dark-blue;
  transform: scale(1.05);
}

.subscriptions_target {
  // position: relative;
}

.sticky-card {
  position: sticky;
  z-index: 10;
  top: 96px;
}

.total-card {
  height: auto;
  margin-bottom: 0px;
  background: #fef5e1;
  box-sizing: border-box;
  border-radius: 12px 12px 0px 0px;
  padding: 0px;
  p {
    padding: 8px;
    margin-bottom: 0px;
    color: $my-white;
  }

  box-shadow: 0px 2px 10px rgba(164, 160, 160, 0.17);
  background-color: $my-dark-blue;
}

.total-inline {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  h2 {
    color: $my-white;
    padding: 8px;
    margin-bottom: 0px;
  }
}
