<!-- <h1>L'AMAP Dorée, Saône Mont d'Or</h1> -->

<section class="abonnement">
  <h3>Mon abonnement</h3>
  <p>Prend fin le 31 décembre 2019</p>

  <% current_user.options.each do |option| %>

  <div class="category-card">
    <div class="inline">
      <div class="avatar-category">
      <%= image_tag option.category.photo, alt:"category", width:54, height:54 %>
      </div>
        <div class="text-card">
          <div class="text-category">
            <p class="category-name"><%= option.category.name %></p>
            <p class="category-option"><%= option.name%></p>
          </div>
          <div class="price-category">
            <p class="price"><%= option.price %> €</p>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  </div>
</section>


