.subscribe-button {
  position: absolute;
  width: 215.68px;
  height: 50px;
  left: 134px;
  top: 313px;

  background: #F8CB62;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  p {
    text-align: center;
  }

  a {
    font-family: $bold-font;
    font-size: 34px;
    color: $my-white;
  } :hover {
    text-decoration: none;
  }
}

// .subscribe-button a {

// }
