.info-window-photo {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  margin: -10px;
  margin-bottom: 0;
}

.mapboxgl-popup {
  max-width: 260px !important;
}

.mapboxgl-popup-content {
  border-radius: 8px;
  padding: 10px 0px 0px;
}
