.navbar-monamap {
  justify-content: space-between;
  background: white;
  display: flex;

}

.navbar-monamap .navbar-collapse {
  flex-grow: 0;
}

.navbar-monamap .navbar-brand img {
  width: 40px;

}
