.abonnement {
  background-color: rgba(164, 160, 160, 0.15);
  width: 340px;
  height: fit-content;
  border-radius: 25px;
  padding: 16px;
  h3 {
    margin-bottom: 0px;
  }
  margin-bottom: 16px;
}

.category-card {
  width: auto;
  height: auto;
  margin-bottom: 8px;
}

.avatar-category {
  background-color: $my-white;
  border-radius: 50%;
  padding: 8px;
  margin-right: 8px;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-text {
  display: flex-grow;
  width: 100%;
}

.inline-white {
  background-color: $my-white;
  margin-bottom: 6px;
  color: $my-black;
  padding: 6px;
}

.text-card {
  display: flex;
  justify-content: space-between;
  background-color: $my-white;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 6px;
}

.text-category {
  // flex: 2 1;
  height: 50px;
  p {
    margin-bottom: 0px;
  }
}

.price-category {
  padding-top: 16px;
  padding-right: 6px;
}

.category-name {
  font-family: $bold-font;
  font-size: 24px;
}

.category-option {
  font-family: $light-font;
  font-size: 12px;
}

.payments {
  background-color: $my-dark-blue;
  color: $my-white;
  width: 340px;
  height: fit-content;
  border-radius: 25px;
  padding: 16px;
  h3 {
    margin-bottom: 0px;
  }
    margin-bottom: 16px;
}
